<!-- Citation for the follow navigation -->
<!-- 7/23/22 -->
<!-- Adapted from  -->
<!-- Soure URL: https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_navbar_dropdown&stacked=h-->

<!-- Citation for the CRUD operations and starter code: -->
<!-- Date: 7/28/22 -->
<!-- Adapted from  -->
<!-- Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app-->

<!-- Citation for the refreshing the page. -->
<!-- Date: 7/1/22 -->
<!-- Adapted from  -->
<!-- Source URL: https://stackoverflow.com/questions/62945545/updating-a-web-page-to-reflect-deleted-data-from-crud-app-without-hard-refresh>-->


<h1>Behavior Incidents</h1>
<!DOCTYPE html>

<!-- All of this is the navigation bar-->
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Home</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Students <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/Students">Students</a></li>
          <li><a href="/StudentsInterventions">Students Interventions</a></li>
          <li><a href="/StudentsTeachers">Students Teachers</a></li>
          <li><a href="/StudentsTests">Students Tests</a></li>
          <li><a href="/StudentsParents">Students Parents</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Behavior <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/BehaviorIncidents">Behavior Incidents</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Interventions <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/Interventions">Interventions</a></li>
          <li><a href="/InterventionProgress">Intervention Progress</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Testing <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/Tests">Tests</a></li>
          <li><a href="/TestScores">Tests Scores</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Parents <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/Parents">Parents</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Teachers <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/Teachers">Teachers</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
</body>
</html>
<!-- End of navigation bar -->

{{!-- Create a table --}}

<div id="browse" border-style="display: block">
<p><strong>Browse Behavior Incidents</strong></p>
<table id = "behaviorIncidents-table" border="1" cellpadding="5" >

    <thead >

        <tr >
            <th style="text-align:center; "> Behavior/Incident ID </th>
            <th style="text-align:center; " > Observed Behavior</th>
            <th style="text-align:center; " > Action Taken</th>
            <th style="text-align:center; " > Parent Contact?</th>
            <th style="text-align:center; " > Date</th>
            <th style="text-align:center; " > Student</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, behavior, action taken, parent contact and date, in order --}}
        <!--{{#each data}}-->
        <tr data-value = {{this.idBehaviorIncident}}>
            <td align = 'middle'>{{this.idBehaviorIncident}}</td>

            <td align = 'middle'>{{this.observedBehavior}}</td>

            <td align = 'middle' > {{this.actionTaken}}</td>

            <td align = 'middle'>{{this.parentContact}}</td>

            <td align = 'middle'>{{this.date}}</td>

            <td align = 'middle'>{{this.studentFirstName}}</td>

            <td align = 'middle'><button onclick="deleteTest({{this.idBehaviorIncident}}), window.location.reload()">Delete</button></td>
            location.reload()
        </tr>
        <!--{{/each}}-->
    </tbody>
</table>
<script src="./js/delete_behavior_incident.js"></script>

{{!-- Form to add a record to the table  --}}


<h2>Add a new behavior incident</h2>
<p>To add a incident, please enter the information below and click 'Submit'!</p>
<form id="add-behavior-incident-ajax">
    
    <label for="input-observedBehavior">Observed Behavior: </label>
    <input type="text" name="input-observedBehavior" id="input-observedBehavior">

    <label for="input-actionTaken">Action Taken: </label>
    <input type="text" name="input-actionTaken" id="input-actionTaken">
    
    <label for="input-parentContact">Parent Contact?: </label>
    <input type="text" name="input-parentContact" id="input-parentContact">

    <label for="input-Date">Date: </label>
    <input type="text" name="input-Date" id="input-Date" value = "mm-dd-yy">

    <label for="add-idStudent">Choose a Student: </label>
    <select name="add-idStudent" id="add-idStudent">
        <option value="idStudent">Select a Student</option>
        {{#each idStudent}}
        <option value="{{this.idStudent}}">{{this.studentFirstName}} {{this.studentLastName}}</option>
        {{/each}}
    </select>
    
    <input type="submit" onclick="window.location.reload(true)">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script type="text/javascript" src="/js/add_behavior_incident.js"></script>
