<!-- Citation for the follow navigation -->
<!-- 7/23/22 -->
<!-- Adapted from  -->
<!-- Soure URL: https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_navbar_dropdown&stacked=h-->

<!-- Citation for the CRUD operations and starter code: -->
<!-- Date: 7/28/22 -->
<!-- Adapted from  -->
<!-- Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app-->

<!-- Citation for the refreshing the page. -->
<!-- Date: 7/1/22 -->
<!-- Adapted from  -->
<!-- Source URL: https://stackoverflow.com/questions/62945545/updating-a-web-page-to-reflect-deleted-data-from-crud-app-without-hard-refresh>-->


<h1>Teachers</h1>
<!DOCTYPE html>

<!-- All of this is the navigation bar-->
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Home</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Students <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/Students">Students</a></li>
          <li><a href="/StudentsInterventions">Students Interventions</a></li>
          <li><a href="/StudentsTeachers">Students Teachers</a></li>
          <li><a href="/StudentsTests">Students Tests</a></li>
          <li><a href="/StudentsParents">Students Parents</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Behavior <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/BehaviorIncidents">Behavior Incidents</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Interventions <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/Interventions">Interventions</a></li>
          <li><a href="/InterventionsProgress">Intervention Progress</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Testing <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/Tests">Tests</a></li>
          <li><a href="/TestsScores">Tests Scores</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Parents <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/Parents">Parents</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Teachers <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/Teachers">Teachers</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
</body>
</html>
<!-- End of navigation bar -->

{{!-- Create a table --}}

<div id="browse" border-style="display: block">
<p><strong>Browse Teachers</strong></p>
<table id = "teacher-table" border="1" cellpadding="5" >

    {{!-- Header section --}}

    <!-- Option to pull in existing headers
        <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>-->
    <thead >

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr >
            <th style="text-align:center; width: 0.1%"> ID</th>
            <th style="text-align:center; width: 0.1%" > First Name</th>
            <th style="text-align:center; width: 0.1%" > Last Name</th>
            <th style="text-align:center; width: 0.1%" > Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        <!--{{#each data}}-->
        <tr data-value = {{this.idTeacher}}>
            <td align = 'middle'>{{this.idTeacher}}</td>

            <td align = 'middle'>{{this.teacherFirstName}}</td>

            <td align = 'middle'>{{this.teacherLastName}}</td>

            <td align = 'middle'><button onclick="deleteTeacher({{this.idTeacher}})">Delete</button></td>
        </tr>
        <!--{{/each}}-->
    </tbody>
</table>
<script src="./js/delete_teacher.js"></script>

{{!-- Form to add a record to the table  --}}
<h2>Add a New Teacher</h2>
<p>To add a new teacher, please enter their information below and click 'Submit'!</p>
<form id="add-teacher-ajax">
    <label for="input-teacherFirstName">First Name: </label>
    <input type="text" name="input-teacherFirstName" id="input-teacherFirstName">
    
    <label for="input-teacherLastName">Last Name: </label>
    <input type="text" name="input-teacherLastName" id="input-teacherLastName">

    <input type="submit">
</form>


<h2>Update a Teacher</h2>
<p>To update a specific teacher select their ID from the drop-down menu on the left.</p>
<form id="update-teacher-form-ajax">

    <label for="update-idTeacher">Teacher ID: </label>
    <select name="update-idTeacher" id="mySelect">
        <option value="test">Select a Teacher</option>
        {{#each data}}
        <option value="{{this.idTeacher}}">{{this.idTeacher}}</option>
        {{/each}}
    </select>

    <label for="update-teacherFirstName">First Name: </label>
    <input type="text" name="update-teacherFirstName" id="update-teacherFirstName">
    
    <label for="update-teacherLastName">Last Name: </label>
    <input type="text" name="update-teacherLastName" id="update-teacherLastName">

    <input type="submit">

</form>
<script src="./js/update_teacher.js"></script>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script type="text/javascript" src="/js/add_teacher.js"></script>